<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="title" content="{{site.name}}" />
  <meta name="description" content="{{site.name}}" />
  {% feed_meta %}
<meta name="viewport" content="width=device-width">
  {% if page.layout == 'home' %}
  <title>{{ site.name }}</title>
  {% else %}
  <title>{{ page.title }} | {{ site.name }}</title>
  {% endif %}
  <!-- icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=144">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="https://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=114">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="https://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=72">
  <link rel="apple-touch-icon-precomposed" href="https://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=57">
  <link rel="shortcut icon" href="https://www.gravatar.com/avatar/88c94e86ee17d23e06907361e5533e99.jpg?s=32">
  <!-- <link rel="stylesheet" href="/s/css/github-markdown.min.css"> -->
  {% if page.layout == 'post' %}
  <link rel="stylesheet" href="/s/css/github-markdown-light.min.css">
  {% endif %}

  <!-- css -->
  <link rel="stylesheet" href="/s/css/normalize.min.css">
  <link rel="stylesheet" href="/s/css/main.css">
  <link rel="stylesheet" href="/s/css/syntax.css">

  <!-- css - layout specified -->
  {% if page.layout == 'post' %}
    <link rel="stylesheet" href="/s/css/post.css">
  {% endif %}


</head>
<body>
  <div id="content">
    <div style="margin-top: 2.5em;"></div>
    <h2><a href="/">Hiun Kim <span style="font-weight: normal;">(김희언)</span></a><span style="text-align: right; float: right; font-weight: normal; font-size: 0.83em"> 
      <a href="/notes">daily 📝</a>
    </span></h2>
    {{ content }}
  </div>
  <!-- javascript -->
  <script src="/s/js/ga.js"></script>
  {% if page.layout == 'post' %}
  <!-- MathJax -->
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.3/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>
  {% endif %}
</body>
</html>
